<footer class="site-footer container">
    <div class="copyright">
        Powered by <a href="https://ghost.org/" target="_blank"
            rel="noopener noreferrer">Ghost</a>
            And <a href="https://dawn.ghost.io/" target="_blank" rel="noopener noreferrer">Dawn</a>
    </div>

    <nav class="footer-nav">
        {{navigation type="secondary"}}
        <a class="menu-item js-theme" href="#" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">Dark theme</span>
        </a>
    </nav>

    <span id="busuanzi_container_site_pv" class="theme-text">
        总访问量<span id="busuanzi_value_site_pv"></span>
    </span>
    <span id="busuanzi_container_site_uv" class="theme-text">
        访客数<span id="busuanzi_value_site_uv"></span>
    </span>
</footer>